body{
    background-color: grey;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    user-select: none;
}
/* Acomodamos con css grid las columnas y filas */
.container{
    border-radius: 65px;    
    height: 850px;
    width: 500px;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 25% auto auto;
    row-gap: 20px;
    padding: 20px;
}
/* Hacemos una clase tamaño para darle forma y tamaño a todos los botones */
.tamaño{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tamaño:hover{
    cursor: pointer;
}
.color-grey .tamaño:active{
    background-color: rgba(255, 255, 255, 0.300);
}
.color-yellow .tamaño:active{
    color: yellow;
    background-color: rgba(255, 255, 255, 0.300);
}
.color-grey-black .tamaño:active{
    background-color: rgba(255, 255, 255, 0.300);
}
/* Acomodamos con css grid las filas y columnas */
.color-grey{
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 2/3;
    column-gap: 20px;
}
.color-grey .tamaño{
    background-color: grey;
    color: black;
    transition: 0.3s ease-out;
}
.color-grey-black{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-column: 1/2;
    grid-row: 3/4;
    row-gap: 40px;
    column-gap: 20px;
}
.color-grey-black .cero{
    grid-column: 1/3;
    width: 200px;
    border-radius: 50px;
}
.color-grey-black .tamaño{
    background-color: rgb(51, 50, 50);
    transition: 0.3s ease-out;
}
.color-yellow{
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 2/4;
    row-gap: 40px;
}
.color-yellow .tamaño{
    background-color: rgba(240, 138, 43, 0.925);
    transition: 0.3s ease-out;
}
.resultado{
    grid-column: 1/3;
    grid-row: 1/2;
    color: white;
    font-size: 80px;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 55px;
    overflow-wrap: break-word;
}